#wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: auto;
    width: 100%;
    margin-top: 20px
}

h1 {
    text-align: center;
    font-family: 'Shrikhand', cursive;
    color: yellow;
    font-size: 400%;
    padding-bottom: 20px;
    margin-top: 40px
}

h2 {
    color: yellow;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 110%
}

.keys {
    display: inline;
    border: 2px solid black;
    text-align: center;
    font-size: 60%;
    font-family: 'Hammersmith One', sans-serif;
    position: relative;
    transition: all .08s;
}

.note {
    margin-bottom: 30px
}

.note-name {
    position: absolute;
    bottom: 10px;
    font-size: 120%
}

.keys-bottom {
    padding: 15vw .3vw;
    background: white;
}

.keys-top {
    background: black;
    padding: 15vw .3vw;
    color: white;
}

.played {
    background: coral;
    color: black;
    transform: scale(1.5)
}

#view {
    background: coral;
    text-align: center;
    color: black;
    font-weight: 700;
    margin-top: 30px;
    padding: 15px 30px;
    width: 40vw;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 90%;
    border: 3px solid orange;
    border-radius: 50px
}

@media screen and (max-width: 320px) {
    #wrapper {
        display: flex;
    }

    .keys {
        flex: 1;
    }
}

@media screen and (max-width: 768px) {
    #view {
        display: none;
    }
}