#wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    overflow: auto;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 80px
}

.keys {
    display: inline;
    border: 2px solid black;
}

.keys-bottom {
    padding: 200px 2vw;
}

.keys-top {
    background: black;
    padding: 50px 2vw;
}

